In [3]:
import pandas as pd
import quandl

In [5]:
stock_market_confidence_indices = quandl.get("YALE/US_CONF_INDEX_CRASH_INST")
us_treasury_long_term_rates = quandl.get("USTREASURY/REALLONGTERM", authtoken="yJcjsffiR2vsG79sQqj1")
emerging_markets_high_yield_corporate_bond_index_yield = quandl.get("ML/EMHYY", authtoken="yJcjsffiR2vsG79sQqj1")
united_kingdom_spot_exchange_rate = quandl.get("FED/RXI_US_N_A_UK", authtoken="yJcjsffiR2vsG79sQqj1")
dji = quandl.get("BCB/UDJIAD1")
treasury_real_yield_curve_rates = quandl.get("USTREASURY/REALYIELD", authtoken="yJcjsffiR2vsG79sQqj1")
sp_500_inflation_adjusted = quandl.get("MULTPL/SP500_INFLADJ_MONTH", authtoken="yJcjsffiR2vsG79sQqj1")
personal_consumption_expenditures = quandl.get("FRED/PCE")
gold = quandl.get("BOE/XUMAGPD")

In [6]:
gold

                Value
Date
1979-01-31   227.2795
1979-02-28   245.6500
1979-03-31   241.9864
1979-04-30   239.1605
1979-05-31   257.3095
...               ...
2016-12-31  1150.1250
2017-01-31  1192.6167
2017-02-28  1234.3575
2017-03-31  1231.0935
2017-04-30  1265.6278

[460 rows x 1 columns]

In [35]:
df = pd.concat([stock_market_confidence_indices,us_treasury_long_term_rates])
df

            Index Value  Standard Error  LT Real Average (>10Yrs)
Date
1989-10-31        36.99            4.00                       NaN
1990-04-30        25.76            3.81                       NaN
1990-10-31        18.25            3.30                       NaN
1991-04-30        31.58            4.03                       NaN
1991-10-31        37.18            3.87                       NaN
...                 ...             ...                       ...
2021-06-28          NaN             NaN                     -0.28
2021-06-29          NaN             NaN                     -0.27
2021-06-30          NaN             NaN                     -0.30
2021-07-01          NaN             NaN                     -0.30
2021-07-02          NaN             NaN                     -0.32

[5643 rows x 3 columns]

In [1]:
p = "Personal Consumption Expenditures".replace(" ","_").lower()
p

'personal_consumption_expenditures'

In [11]:
p

'emerging_markets_high_yield_corporate_bond_index_yield'