In [2]:
import pandas as pd
import quandl
from pathlib import Path
import matplotlib.pyplot as plt
from full_fred.fred import Fred

In [3]:
path = r"Download Data - INDEX_US_DOW JONES GLOBAL_DJIA_2.csv"
api_keys = r"fred api key.txt"

In [4]:
fred = Fred(api_keys)
fred.get_api_key_file()

'fred api key.txt'

In [5]:
dow = fred.get_series_df('DJIA').set_index('date')
dow.value = dow.value.replace(to_replace='.')
dow.value = dow.value.apply(lambda x: float(x))
dow

           realtime_start realtime_end     value
date
2011-07-15     2021-07-14   2021-07-14  12479.73
2011-07-18     2021-07-14   2021-07-14  12385.16
2011-07-19     2021-07-14   2021-07-14  12587.42
2011-07-20     2021-07-14   2021-07-14  12571.91
2011-07-21     2021-07-14   2021-07-14  12724.41
...                   ...          ...       ...
2021-07-08     2021-07-14   2021-07-14  34421.93
2021-07-09     2021-07-14   2021-07-14  34870.16
2021-07-12     2021-07-14   2021-07-14  34996.18
2021-07-13     2021-07-14   2021-07-14  34888.79
2021-07-14     2021-07-14   2021-07-14  34933.23

[2609 rows x 3 columns]

In [14]:
stock_market_confidence_indices = quandl.get("YALE/US_CONF_INDEX_CRASH_INST")
stock_market_confidence_indices.drop(columns="Standard Error")
us_treasury = quandl.get("USTREASURY/YIELD")
us_treasury = us_treasury['10 YR'].to_frame()
sp_500_inflation_adjusted = quandl.get("MULTPL/SP500_INFLADJ_MONTH", authtoken="yJcjsffiR2vsG79sQqj1")
personal_consumption_expenditures = quandl.get("FRED/PCE")
gold = quandl.get("LBMA/GOLD")

In [5]:
us_treasury_long_term_rates = quandl.get("USTREASURY/REALLONGTERM", authtoken="yJcjsffiR2vsG79sQqj1")
emerging_markets_high_yield_corporate_bond_index_yield = quandl.get("ML/EMHYY", authtoken="yJcjsffiR2vsG79sQqj1")
united_kingdom_spot_exchange_rate = quandl.get("FED/RXI_US_N_A_UK", authtoken="yJcjsffiR2vsG79sQqj1")
dji = quandl.get("BCB/UDJIAD1")
treasury_real_yield_curve_rates = quandl.get("USTREASURY/REALYIELD", authtoken="yJcjsffiR2vsG79sQqj1")
sp_500_inflation_adjusted = quandl.get("MULTPL/SP500_INFLADJ_MONTH", authtoken="yJcjsffiR2vsG79sQqj1")
personal_consumption_expenditures = quandl.get("FRED/PCE")
gold = quandl.get("LBMA/GOLD")

In [6]:
gold = gold['USD (AM)'].to_frame()

In [8]:
stock_market_confidence_indices = stock_market_confidence_indices['Index Value'].to_frame()

In [9]:
us_treasury

            10 YR
Date
1990-01-02   7.94
1990-01-03   7.99
1990-01-04   7.98
1990-01-05   7.99
1990-01-08   8.02
...           ...
2021-07-07   1.33
2021-07-08   1.30
2021-07-09   1.37
2021-07-12   1.38
2021-07-13   1.42

[7889 rows x 1 columns]

In [10]:
personal_consumption_expenditures.rename(columns={"Value":"PCE Value"},inplace=True)
gold.rename(columns={"Value":"Gold Value"},inplace=True)
sp_500_inflation_adjusted.rename(columns={'Value':'SPY Value'},inplace=True)
united_kingdom_spot_exchange_rate.rename(columns={'SPY Value':'USD/UK Value'},inplace=True)
emerging_markets_high_yield_corporate_bond_index_yield.rename(columns = {'BAMLEMHBHYCRPIEY':'Emerging Markets HYCBIY Value'},inplace=True)
emerging_markets_high_yield_corporate_bond_index_yield

            Emerging Markets HYCBIY Value
DATE
1998-12-31                          14.92
1999-01-04                          14.90
1999-01-05                          14.89
1999-01-06                          14.79
1999-01-07                          14.78
...                                   ...
2021-07-06                           6.01
2021-07-07                           5.99
2021-07-08                           6.04
2021-07-09                           6.04
2021-07-12                           5.98

[5883 rows x 1 columns]

In [16]:
df_all = pd.concat([us_treasury,gold,personal_consumption_expenditures,sp_500_inflation_adjusted,united_kingdom_spot_exchange_rate,
                    us_treasury_long_term_rates,emerging_markets_high_yield_corporate_bond_index_yield], axis = 'columns', join = 'inner')
df_all

Empty DataFrame
Columns: [10 YR, USD (AM), PCE Value, SPY Value, Value, LT Real Average (>10Yrs), Emerging Markets HYCBIY Value]
Index: []

In [12]:
#stock_market_confidence_indices['Index Value'].plot(figsize = (10,10))
#treasury_real_yield_curve_rates.plot(figsize = (10,10))
#sp_500_inflation_adjusted.plot(figsize = (10,10))
#personal_consumption_expenditures.plot(figsize = (10,10))
#gold.plot(figsize = (10,10))
#us_treasury_long_term_rates.plot(figsize = (10,10))
#sp_500_inflation_adjusted.plot(figsize = (10,10))

In [ ]:
personal_consumption_expenditures

In [ ]:
test = pd.concat([us_treasury,gold,emerging_markets_high_yield_corporate_bond_index_yield,sp_500_inflation_adjusted,personal_consumption_expenditures],axis = 'columns', join = 'inner')
test

In [ ]:
test.plot()