In [22]:
import pandas as pd
import quandl

In [23]:
stock_market_confidence_indices = quandl.get("YALE/US_CONF_INDEX_CRASH_INST")
us_treasury_long_term_rates = quandl.get("USTREASURY/REALLONGTERM", authtoken="yJcjsffiR2vsG79sQqj1")
emerging_markets_high_yield_corporate_bond_index_yield = quandl.get("ML/EMHYY", authtoken="yJcjsffiR2vsG79sQqj1")
united_kingdom_spot_exchange_rate = quandl.get("FED/RXI_US_N_A_UK", authtoken="yJcjsffiR2vsG79sQqj1")
dji = quandl.get("BCB/UDJIAD1")
treasury_real_yield_curve_rates = quandl.get("USTREASURY/REALYIELD", authtoken="yJcjsffiR2vsG79sQqj1")
sp_500_inflation_adjusted = quandl.get("MULTPL/SP500_INFLADJ_MONTH", authtoken="yJcjsffiR2vsG79sQqj1")

In [31]:
sp_500_inflation_adjusted

              Value
Date
1871-01-01    95.93
1871-02-01    94.34
1871-03-01    95.24
1871-04-01   101.59
1871-05-01   106.62
...             ...
2021-04-30  4181.17
2021-05-01  4167.85
2021-06-01  4238.49
2021-06-30  4297.50
2021-07-01  4319.94

[1822 rows x 1 columns]

In [35]:
df = pd.concat([stock_market_confidence_indices,us_treasury_long_term_rates])
df

            Index Value  Standard Error  LT Real Average (>10Yrs)
Date
1989-10-31        36.99            4.00                       NaN
1990-04-30        25.76            3.81                       NaN
1990-10-31        18.25            3.30                       NaN
1991-04-30        31.58            4.03                       NaN
1991-10-31        37.18            3.87                       NaN
...                 ...             ...                       ...
2021-06-28          NaN             NaN                     -0.28
2021-06-29          NaN             NaN                     -0.27
2021-06-30          NaN             NaN                     -0.30
2021-07-01          NaN             NaN                     -0.30
2021-07-02          NaN             NaN                     -0.32

[5643 rows x 3 columns]

In [19]:
p = "S&P 500 Inflation Adjusted".replace(" ","_").lower()
p

's&p_500_inflation_adjusted'

In [11]:
p

'emerging_markets_high_yield_corporate_bond_index_yield'